<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시물 글쓰기</title>
</head>

<style>
    .layout {
        width :500px;
        margin: 0 auto;
        margin-top : 40px;
    }

    .layout input {
        width: 100%;
        box-sizing: border-box;
    }

    .layout textarea{
        width : 100%;
        margin-top : 10px;
        min-height: 300px;
    }

</style>

<body>
    <div class="layout">
        <form action="/board/writepro" method="post" enctype="multipart/form-data">
            <div>작성자 <input name="name" type="write"></div>
            <div>제목 <input name="title" type="text"></div>
            <div>내용 <textarea name="content"></textarea></div>
            <input type="file" name="file">
            <button type="submit">작성</button>
        </form>
        <form th:action="@{/board/list}" method="get">
            <button>목록</button>
        </form>
    </div>

</body>
</html>